<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>New Route</title>
  </head>

  <body>
    <header>
      <!-- Navigation Bar -->
      <nav>
        <div class="nav-wrapper">
          <ul class="left">
            <li><a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">more_vert</i></a></li>
          </ul>
        </div>
      </nav>
      <!-- Sidenav Menu -->
      <ul id="slide-out" class="sidenav center">
        <!-- Title element for Sidenav -->
        <li><h3>Queue</h3></li>
        <!-- List drivers below under heading -->
        <li>
          <h6>Drivers</h6>
          <!-- Dynamically generate list of driver names below -->
          <ul>
            <li>Ron</li>
            <li>Dan</li>
          </ul>
        </li>
        <!-- List unassigned routes below -->
        <li>
          <h6>Routes</h6>
          <!-- Dynnamically generate list of unassigned routes -->
          <ul>
            <li>Route 1</li>
            <li>Route 2</li>
          </ul>
        </li>
        <!-- Assign Schedules Button -->
        <li>
          <form action="/homepage" method="post">
            <button class="btn" type="submit">Schedule</button>
          </form>
        </li>
      </ul>
    </header>

    <main>
      <div class="container-fluid">
        <!-- Page Content Goes Below -->
        <!-- Welcome Message -->
        <div class="row">
          <div class="col s12">
            <h3 class="center-align">Welcome back "Name"</h3>
          </div>
        </div>
        <!-- Calendar View -->
        <div class="row">
          <table>
            <!-- Headings for table -->
            <thead>
              <th class="center">Sun</th>
              <th class="center">Mon</th>
              <th class="center">Tue</th>
              <th class="center">Wed</th>
              <th class="center">Thur</th>
              <th class="center">Fri</th>
              <th class="center">Sat</th>
            </thead>
            <!-- Table body -->
            <tbody>
              <!-- # of table rows will be equal to # of routes on day with most routes -->
              <tr>
                <!-- # of table data cells will be 7/row, ie one for each day -->
                <!-- Sunday -->
                <td></td>
                <!-- Monday -->
                <td></td>
                <!-- Tuesday -->
                <td></td>
                <!-- Wednesday -->
                <td></td>
                <!-- Thursday -->
                <td></td>
                <!-- Friday -->
                <td></td>
                <!-- Saturday -->
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Buttons -->
        <div class="row center">
          <div class="col s4">
            <a href="/new_driver"><button class="waves-effect waves-light btn" type="button" name="button">Create New Driver</button></a>
          </div>
          <div class="col s4">
            <a href="/new_truck"><button class="waves-effect waves-light btn" type="button" name="button">Create New Truck</button></a>
          </div>
          <div class="col s4">
            <a href="/new_route"><button class="waves-effect waves-light btn" type="button" name="button">Create New Route</button></a>
          </div>
        </div>

      </div>
    </main>

    <!-- Initialize Materialize components -->
    <script src="/javascript/initializeMaterialize.js"></script>
  </body>
</html>
