<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>New Route</title>
  </head>
  <body>
    <div class="container-fluid">
      <h3 class="center-align">Welcome back "Name"</h3>
      <div class="row ">
        <div class="col s2">
          <h3 class="center-align"><u>Queue</u></h3>
          <h5>Unassigned Routes:</h5>


          <!-- Modal Trigger -->
         <a class="card lime lighten-3 darken-1 modal-trigger card-content white-text" href="#modal1">Route Name & Num</a>
          <!-- Modal Structure -->
          <div id="modal1" class="modal">
            <div class="modal-content">
              <h4><strong>Route Name and Number</strong></h4>
              <h6><strong>Driver:</strong></h6>
              <p>Unassigned</p>
              <h6><strong>Truck:</strong></h6>
              <p>Unassigned</p>
              <h6><strong>Distance:</strong></h6>
              <p></p>
              <h6><strong>Estimated Duration:</strong></h6>
              <p></p>
              <h6><strong>Pay:</strong></h6>
              <p></p>
            </div>
            <div class="modal-footer">
              <a href="/homepage" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
          </div>
        </div>
        <div class="col s9">
          <table>
           <thead>
             <tr>
                 <th>Mon</th>
                 <th>Tue</th>
                 <th>Wed</th>
                 <th>Thr</th>
                 <th>Fri</th>
                 <th>Sat</th>
                 <th>Sun</th>
             </tr>
           </thead>
           <tbody>
             <!-- One tr for every new entry -->
             <tr>
               <td>
                  <!-- Modal Trigger -->
                 <a class="card green lighten-1 darken-1 modal-trigger card-content white-text" href="#modal1">Route Name & Num</a>
                <!-- Modal Structure -->
                <div id="modal2" class="modal">
                  <div class="modal-content">
                    <h4><strong>Route Name and Number</strong></h4>
                    <h6><strong>Driver:</strong></h6>
                    <p></p>
                    <h6><strong>Truck:</strong></h6>
                    <p></p>
                    <h6><strong>Distance:</strong></h6>
                    <p></p>
                    <h6><strong>Estimated Duration:</strong></h6>
                    <p></p>
                    <h6><strong>Pay:</strong></h6>
                    <p></p>
                  </div>
                  <div class="modal-footer">
                    <a href="/homepage" class="modal-close waves-effect waves-green btn-flat">Close</a>
                  </div>
                </div>
               </td>
             </tr>
           </tbody>
         </table>
        </div>
      </div>
      <div class="row center">
        <div class="col s4">
          <a href="/new_driver"><button class="waves-effect waves-light btn" type="button" name="button">Create New Driver</button></a>
        </div>
        <div class="col s4">
          <a href="/new_truck"><button class="waves-effect waves-light btn" type="button" name="button">Create New Truck</button></a>
        </div>
        <div class="col s4">
          <a href="/new_route"><button class="waves-effect waves-light btn" type="button" name="button">Create New Route</button></a>
        </div>
      </div>

    </div>

    <!-- Initialize Materialize components -->
    <script src="/javascript/initializeMaterialize.js"></script>
  </body>
</html>
