<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
  </head>
  <body>
    <h3>Mon</h3>
    <h3>Tues</h3>
    <h3>Wed</h3>
    <h3>Thurs</h3>
    <h3>Fri</h3>
    <h3>Sat</h3>
    <h3>Sun</h3>

    <a href="/new_driver"><button type="button" name="button">Create New Driver</button></a>
    <a href="/new_truck"><button type="button" name="button">Create New Truck</button></a>
    <a href="/new_route"><button type="button" name="button">Create New Route</button></a>
  </body>
</html>
