<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Login</title>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  </head>
  <body>
    <div class="container">
      <h1 class="center-align">Schedulr</h1>
      <h5 class="center-align">Schedulng Made Easy</h5>
    </div>
    <div class="container">
      <!-- Login Form -->
      <div class="row">
        <h3 class="col s6 offset-s3">Login</h3>
        <form class="col s6 offset-s3" action="/login" method="post">
          <!-- Email Input -->
          <div class="row">
            <div class="input-field col s12">
              <input name="user_email" placeholder="Email" type="email" class="validate">
            </div>
          </div>
          <!-- Password Input -->
          <div class="row">
            <div class="input-field col s12">
              <input name="user_password" id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
        </div>
        <!-- Submit Button -->
        <div class="row center">
          <button class="btn waves-effect waves-dark" type="submit">Login
            <i class="material-icons right">send</i>
          </button>
          <a href="/register"><button class="center-align btn waves-effect waves-dark" type="button" name="button">Create New
          User</button></a>
        </div>
      </form>
    </div>

    <!-- Initialize Materialize components -->
    <script src="/javascript/initializeMaterialize.js"></script>
  </body>
</html>
