<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <h1>Schedulr</h1>
    <h5>Schedulng Made Easy</h5>
    <h3>Login</h3>
    <form action="" method="post">
      <input type="email" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <button type="submit" name="button">Submit</button>
    </form>
    <a href="/register"><button type="button" name="button">Create New User</button></a>
  </body>
</html>
