<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>Login</title>

  </head>
  <body class='blue-grey darken-1'>
    <div class="container-fluid blue-grey darken-1">
      <!-- Headings -->
      <div class="row">
        <div class="col s6 offset-s3">
          <h1 class="center-align white-text">Schedulr</h1>
          <h5 class="center-align white-text">Schedulng Made Easy</h5>
        </div>
      </div>
      <!-- Login Form -->
      <div class="row">
        <h3 class="col s6 offset-s3 white-text">Login</h3>
        <form class="col s6 offset-s3" action="/login" method="post">
          <!-- Email Input -->
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">email</i>
              <input name="user_email" placeholder="Email" type="email" class="validate">
            </div>
          </div>
          <!-- Password Input -->
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">lock</i>
              <input name="user_password" id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
          <!-- Submit Button -->
          <button class="btn waves-effect waves-dark" type="submit">Login
            <i class="material-icons right">send</i>
          </button>
        </form>
      </div>
      <div class="row">
        <div class="col s6 offset-s3">
          <a href="/register"><button class="center-align btn waves-effect waves-dark offset-s3" type="button" name="button">Create New User</button></a>
        </div>
      </div>
    </div>
    <!-- Initialize Materialize components -->
    <script src="/javascript/initializeMaterialize.js"></script>
  </body>
</html>
