<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  </head>
  <body>
    <div class="container">
      <h1>Schedulr</h1>
      <h5>Schedulng Made Easy</h5>
      <h3>Login</h3>
      <form action="/login" method="post">
        <input type="email" name="user_email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <button class="waves-effect waves-light btn" type="submit" name="button">Submit</button>
      </form>
      <br>
      <br>
      <a href="/register"><button class="waves-effect waves-light btn" type="button" name="button">Create New User</button></a>
    </div>
  </body>
</html>
