<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Driver</title>
  </head>
  <body>
    <h1>Register A New Driver</h1>
    <form class="" action="" method="post">
      <input type="text" name="first_name" placeholder="Driver First Name">
      <input type="text" name="last_name" placeholder="Driver Last Name">
      <input type="text" name="img_url" placeholder="Driver Picture">
      <button type="submit" name="button">Submit</button>
    </form>
    <a href="/homepage"><button type="button" name="button">Back</button></a>
  </body>
</html>
