<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Truck</title>
  </head>
  <body>
    <h1>Register A New Truck</h1>
    <form class="" action="/add" method="post">
      <input type="text" name="new_truck" placeholder="Truck Name">
      <button type="submit" name="button">Submit</button>
    </form>
    <a href="/homepage"><button type="button" name="button">Back</button></a>
  </body>
</html>
