<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>New Truck</title>
  </head>
  <body class="blue-grey">
    <div class="container">
      <h1 class="center-align white-text">Register A New Truck</h1>
      <div class="row">
        <form class="col s6 offset-s3" action="/add_truck" method="post">
          <!-- VIN Number -->
          <div class="row">
            <div class="input-field col s12">
              <input type="string" name="vin" placeholder="VIN">
            </div>
          </div>
          <!-- Length of truck -->
          <div class="row">
            <div class="input-field col s12">
              <input type="integer" name="length" placeholder="Length">
            </div>
          </div>
          <button class="waves-effect waves-dark btn" type="submit">submit
            <i class="material-icons right">send</i></button>
          <a href="/homepage"><button class="right waves-effect waves-light btn" type="button">Back
            <i class="material-icons right">send</i></button></a>
        </form>
      </div>
    </div>
  </body>
</html>
