<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>New Route</title>
  </head>
  <body class="blue-grey darken-1">
    <h1 class="center-align">Create A New Route</h1>
    <div class="left container">
      <div class="row">
        <form class="col s6 offset-s3" action="/add_route" method="post">
          <!-- Route name -->
          <div class="row">
            <div class="input-field col s12">
              <input type="text" name="route_name" placeholder="Route Name">
            </div>
          </div>
          <!-- Destination -->
          <div class="row">
            <div class="input-field col s12">
              <input type="text" name="destination" placeholder="Destination">
            </div>
          </div>
          <!-- Pickup time -->
          <div class="row">
            <div class="input-field col s12">
              <input type="time" name="pickup_time" placeholder="Pickup Time">
            </div>
          </div>
          <!-- distance -->
          <div class="row">
            <div class="input-field col s12">
              <input type="integer" name="distance" placeholder="Distance">
            </div>
          </div>
          <button type="submit" class="waves-effect waves-light btn">Submit 
            <i class="material-icons right">send</i></button>
          <a href="/homepage"><button class="waves-effect waves-light btn" type="button">Back <i class="material-icons right">send</i></button></a>
        </form>
      </div>
    </div>
  </body>
</html>
