<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>New Driver</title>    <!-- Compiled and minified JavaScript -->
  </head>
  <body class="blue-grey darken-1">
    <div class="container">
      <h1 class="center-align white-text">Register A New Driver</h1>
      <div class="row">
        <form class="col s6 offset-s3" action="/add_driver" method="post">
      <!-- First name -->
      <div class="row">
        <div class="input-field col s12">
          <input type="text" name="name" placeholder="Driver Name">
        </div>
      </div>
      <!-- last name -->
      <!-- <div class="row">
        <div class="input-field col s12">
          <input type="text" name="last_name" placeholder="Driver Last Name">
        </div>
      </div> -->
      <!-- Img URL -->
      <div class="row">
        <div class="input-field col s12">
          <input type="text" name="img_url" placeholder="Driver Picture">
        </div>
      </div>
      <button class="waves-effect waves-dark btn" type="submit">Submit
        <i class="material-icons right">send</i></button>
      <a href="/homepage"><button class="right waves-effect waves-darl btn" type="button">Back
        <i class="material-icons right">send</i></button></a>
        </form>
      </div>
    </div>
  </body>
</html>
