<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Route</title>
  </head>
  <body>
    <h1>Create A New Route</h1>
    <form class="" action="" method="post">
      <input type="string" name="route_name" placeholder="Route Name">
      <input type="string" name="driver_id" placeholder="Driver id">
      <input type="string" name="truck_id" placeholder="Truck id">
      <input type="string" name="destination" placeholder="Destination">
      <input type="time" name="pickup_time" placeholder="Pickup Time">
      <input type="integer" name="distance" placeholder="Distance">
      <input type="string" name="days" placeholder="Days">
      <button type="submit" name="button">Submit</button>
    </form>
    <a href="/homepage"><button type="button" name="button">Back</button></a>
  </body>
</html>
