<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Driver</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
<div class="container blue-grey darken-1">
      <h1 class="center-align">Register A New Driver</h1>
      
      <form class="col s6 offset-s3" action="/add" method="post">
        <input type="text" name="first_name" placeholder="Driver First Name">
        <input type="text" name="last_name" placeholder="Driver Last Name">
        <input type="text" name="img_url" placeholder="Driver Picture">
        <button type="submit" class="waves-effect waves-light btn" name="button">Submit</button>
      </form>
      <br>
      <br>
      <a href="/homepage"><button class="waves-effect waves-light btn" type="button" name="button">Back</button></a>
    </div>
  </body>
</html>
