<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Register New User</title>
  </head>
<body class="blue-grey darken-1">
    <div class="container">
    <h1 class="center-align white-text">Register Now</h1>
    <div class="row">
      <form class="col s6 offset-s3" action="/register" method="post">
        <!-- Name Input -->
        <div class="row">
          <div class="input-field col s12">
            <input name="user_name" placeholder="Name" type="text">
          </div>
        </div>
        <!-- Email Input -->
        <div class="row">
          <div class="input-field col s12">
            <input name="user_email" placeholder="Email" type="email" class="validate">
          </div>
        </div>
        <!-- Password Input -->
        <div class="row">
          <div class="input-field col s12">
            <input name="user_password" placeholder="Password" type="password" class="validate">
          </div>
        </div>
        <!-- Password Confirmation -->
        <div class="row">
          <div class="input-field col s12">
            <input name="passwordConfirm" placeholder="Confirm Password" type="password" class="validate">
          </div>
        </div>
        <!-- Submit Button -->
        <button class="btn waves-effect waves-dark" type="submit">Register
          <i class="material-icons right">send</i></button>
          <!-- Return to login -->
        <a href="/"><button class="right btn waves-effect waves-dark" type="button">Already a user? 
          <i class="material-icons right">send</i></button></a>
      </form>
    </div>
  </div>
    </body>
  </body>
</html>
