<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register New User</title>
  </head>
  <body>
    <h1>Register Now</h1>
    <form class="" action="" method="post">
      <input type="text" name="name" placeholder="Company Name">
      <input type="text" name="email" placeholder="Company Email">
      <input type="text" name="password" placeholder="Password">
      <input type="text" name="confirmation" placeholder="Confirm Password">
      <button type="submit" name="button">Submit</button>
    </form>
    <p>Already a user? <a href="/login">Sign in here</a></p>
  </body>
</html>
